---
import Section from '@/components/Section.astro'
import * as cv from '@cv-es'
import { type Resume } from '@/types/resume'
interface Props {
    resume: Resume;
}

const { resume } = Astro.props;
const { summary } = resume.basics

---


<Section title="About">
    <p>{summary}</p>
</Section>