---
import Section from '@/components/Section.astro'
import { type Resume } from '@/types/resume'
// Get the data from the cv.json file
interface Props {
    resume: Resume;
}
const { resume } = Astro.props;

const education = resume.education
---


<Section title="Education">
    <ul>
        {education.map((item, index) => {
            const { institution, area, startDate, endDate } = item
            const startYear = new Date(startDate).getFullYear()
            const endYear = endDate !== null ? new Date(endDate).getFullYear() : "Present"
            return (
                    <li>
                        <article>
                            <header>
                                <h3>{institution}</h3>
                                <time>
                                    {startYear} - {endYear}
                                </time>
                            </header>
                            <footer>
                                <p>
                                    {area}
                                </p>
                            </footer>
                        </article>
                    </li>
            )
        })}
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    article {
        h3 {
            font-weight: 500;
            color: #111;
        }
        h4 {
            font-weight: 400;
            color: #222;
        }
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;
    }

    time {
        font-size: 0.85rem;
        color: #555;
    }
</style>